<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    @RenderBody()
    <footer><p class="company">&commat;Created by Alexandr Verbovskiy.</p> <div class="contact"><p>Tel.:+380671234567</p><p>Email:qwerrq@gmail.com</p></div></footer>
</body>
</html>